/* Ex 1 */
.ex-1-square{
    transform-origin: 2s;
}
.ex-1-square:hover {
    background: red;
}

/* Ex 2 */
.ex-2-square {
    transition: width 2s;
}  
.ex-2-square:active {
    width: 100%;
}

/* Ex 3 */ 
.ex-3-square {
    transition: border-radius 2s;
}
.ex-3-square:hover {
    border-radius: 100%;
}

/* Ex 4 */ 
.ex-4-square {
    transition: opacity 2s;
}
.ex-4-square:hover {
    opacity: 0;
}

/* Ex 5 */ 
.ex-5-square {
    transition: transform 2s;
}
.ex-5-square:hover {
    transform: scale(2);
}
.ex-5-square:active {
    transform: scale(0.5);
}

/* Ex 6 */ 
.ex-6-img {
    transition: filter 2s;
}
.ex-6-img:hover {
    filter: grayscale(1);
}

/* Ex 7 */ 
.ex-7-img {
    transition: filter 2s;
}
.ex-7-img:hover {
    filter: grayscale(0.5) sepia(0.5);
}
/* Ex 8 */ 
.ex-8-img {
    transition: all 2s;
}
.ex-8-img:hover {
    filter: grayscale(0.5) sepia(0.5);
    border-radius: 5%;
}

/* Ex 9 */ 
.ex-9-img {
    transition: all 2s;
}
.ex-9-img:hover {
    filter: grayscale(0.5) sepia(0.5);
    border-radius: 5%;
    transform: scale(1.5);
}
/* Ex 10 */ 
.ex-10-icon {
    animation: rotate 1s linear infinite;
}

@keyframes rotate {
from {
transform: rotate(360deg);
 }
}
