/* Ex 1 */
.ex-1-square{
    transform-origin: 2s;
}
.ex-1-square:hover {
    background: red;
}
/* Ex 2 */
.ex-2-square {
    transition: width 2s;
}  
.ex-2-square:active {
    width: 100%;
}
 /* Ex 3 */ 
.ex-3-square {
    transition: border-radius 2s;
}

.ex-3-square:hover {
    border-radius: 100%;
}
